.has-error  label, .has-error p{
  color: red;
}
.has-error input {
  border: 1px solid red;
}
.login {
  transition: all 0.5s ease-in-out;
  outline: none;
}
.login:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.login:focus {
  outline: none;
}
