<div class="container mt-5">
<form [formGroup]="userForm" class="userForm">
  <div class="form-group" [ngClass]="{'has-error': nameCheck()}">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control form-control-lg" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group" [ngClass]="{'has-error': passCheck()}">
    <label for="exampleInputPassword1">Password</label>
    <input formControlName="password" type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div [ngClass]="{'has-error': checkCheck()}">
    <input type="checkbox" name="checkboxG4" id="checkboxG4" class="css-checkbox"><label for="checkboxG4" class="css-label">  I accept all rules</label>
  </div>
  <button type="submit" class="btn btn-primary btn-lg" (click)="submit()">Submit</button>
</form>
  <h1 class="display-4 login text-center text-danger mt-5" routerLink="/userPage/login"> Already registered? Log in here!</h1>
</div>

