<div class="container mt-5">
<form [formGroup]="userForm">
  <div class="form-group" [ngClass]="{'has-error': nameCheck()}">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group" [ngClass]="{'has-error': passCheck()}">
    <label for="exampleInputPassword1">Password</label>
    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check" [ngClass]="{'has-error': checkCheck()}">
    <input formControlName="check" type="checkbox" class="form-check-input" id="exampleCheck1">
    <label  class="form-check-label" for="exampleCheck1">I accept all rules</label>
  </div>
  <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
</form>
</div>
