<h1 class="display-1 text-center mb-5 category sticky-top">{{category}}</h1>
<div  *ngFor="let product of products">
  <div class="jumbotron m-5" *ngIf="product.category === category && !product.bought">
    <h1 class="display-4 h1Product">{{product.title}} - <span class="text-danger">{{product.price | currency}}</span> <span class="float-right ml-5">{{product.category}}</span></h1>
    <hr class="my-4">
    <p class="lead">{{product.description}}</p>
    <a class="btn btn-warning btns btn-lg" href="#" role="button" routerLink="/products/{{product.id}}">Check details</a>
  </div>
</div>

