<div class="container">
<form [formGroup]="userForm">
  <div class="form-group" [ngClass]="{'has-error': isEmailCorrect()}">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group" [ngClass]="{'has-error': isPasswordCorrect()}">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
</form>
  <div class="d-flex justify-content-center row">
  <div class="display-3 text-center text-danger col-12 m-3">Loggined</div>
   <button class="btn-warning btn-lg btn" routerLink="/userPage/add">Add new product</button>
  </div>
</div>
