<div class="container">
<form [formGroup]="userForm" class="userForm" *ngIf="!this.productsService.loggedIn">
  <div class="form-group" [ngClass]="{'has-error': isEmailCorrect()}">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" formControlName="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group" [ngClass]="{'has-error': isPasswordCorrect()}">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" formControlName="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-lg">Submit</button>
</form>
  <div class="d-flex justify-content-center row" *ngIf="this.productsService.loggedIn">
  <div class="display-3 text-center text-danger col-12 m-3">Logged in</div>
   <button class="btn-warning btn-lg btn m-1" routerLink="/userPage/add">Add new product</button>
   <button class="btn-info btn-lg btn m-1" (click)="addMoney()" [disabled]="!buttonEnabled">Earn some money!</button>
    <div class="jumbotron col-12">
      <h1 class="display-4">Hi {{this.productsService.loggedIn.email}}</h1>
      <p class="lead">You currently have: {{this.productsService.loggedIn.money | currency}}</p>
      <hr class="my-4">
      <p class="text-center text-danger">List of all items you have</p>
      <hr>
      <div  *ngFor="let product of products">
        <div class="jumbotron ">
          <h1 class="display-4 h1Product">{{product.title}} - <span class="text-danger">{{product.price | currency}}</span> <span class="float-right ml-5">{{product.category}}</span></h1>
          <hr class="my-4">
          <p class="lead">{{product.description}}</p>
          <a class="btn btn-warning btns btn-lg" href="#" role="button" routerLink="/products/{{product.id}}">Check details</a>
        </div>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModal" id="clickButton" >
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login page</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{res}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="this.productsService.refresh()">Close</button>
      </div>
    </div>
  </div>
</div>
