  <div class="jumbotron m-3 mt-5" *ngIf="product">
    <h1 class="display-4 h1Product p-3">{{product.title}} - <span class="text-black-50">{{product.price | currency}}</span> <span class="float-right ml-5">{{product.category}}</span></h1>
    <hr class="my-4">
    <p class="lead">{{product.description}}</p>
    <br>
    <br>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-4">
        <button class="btn-lg btn btn-danger col-md-12 m-3 p-3" (click)="buyItems()"><span class="buy">Buy</span></button>
        <button class="btn-lg btn btn-warning col-md-12 m-3 p-3" (click)="addToCart(product)"><span class="buy">Add to cart</span></button>
      </div>
      <div class="col-md-8">
        <h2>Id of product <span class="specialInfo">{{product.id}}</span></h2>
        <h2>Category of product  <span class="specialInfo">{{product.category}}</span></h2>
        <h2>Owner  <span class="specialInfo">{{product.owner}}</span></h2>
        <h2 *ngIf="product.isPromoted"> It is <span class="specialInfo">promoted</span></h2>
        <h2 *ngIf="!product.isPromoted"> It is <span class="specialInfo">NOT promoted</span></h2>
      </div>
    </div>
  </div>

