.category {
    background: #391e8d;
    color: white;
    padding: 4px; transition: all 0.5s ease-in-out;
    border: 7px solid #391e8d;
  border-radius: 5%;

}
.category:hover {
  background: white;
  color: #391e8d;
  cursor: pointer;
}
