<header>
  <div class="welcomeH1 m-0 row">
    <div class="col-md-7 d-none d-md-block">
      <h1 class="text-center pt-3 display-2  pb-3 d-md-block d-none" routerLink="">
      Angular Marketplace
      </h1>
      <h1 class="text-center pt-3 display-4  pb-3 d-block d-md-none" routerLink="">
        Angular Marketplace
      </h1>
    </div>
    <div class="col-md-5 d-flex justify-content-around">
      <fa-icon routerLink="/cart" class="icon align-self-center" [icon]="faShoppingCart"></fa-icon>
      <fa-icon routerLink="/userPage" class="icon align-self-center ml-3" [icon]="faAddressCard"></fa-icon>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
