.jumbotron {
  background: gray;
}
.lead {
  color: green;
  font-size: 30px;
  font-weight: bold;
}
.h1Product {
  font-size:50px;
  color: #fffcf8;
  font-weight: bold;
}
.btns {
  font-weight: bold;
  font-size:25px;
}

