<h1 class="display-1 text-center mb-5 d-none d-md-block">Promoted products</h1>
<h1 class="display-3 text-center mb-5 d-block d-md-none">Promoted products</h1>
<div  *ngFor="let product of products">
  <div class="jumbotron" *ngIf="product.isPromoted && !product.bought">
    <h1 class="display-4 h1Product">{{product.title}} - <span class="text-danger">{{product.price | currency}}</span></h1>
    <hr class="my-4">
    <p class="lead">{{product.description}}</p>
    <a class="btn btn-warning btns btn-lg" href="#" role="button" routerLink="products/{{product.id}}">Check details</a>
  </div>
</div>

